@{
    ViewData["Title"] = "Home Page";
    Layout = "/Views/Shared/_Layout.cshtml";
}
@model IndexModel
<div class="center-div">
    <form id="calendar-form">
        <partial name="Partials/_CalendarPartial.cshtml" model = "@Model.Calendar"/>
    </form>

    <partial name="Partials/_EventPartial.cshtml" model="@Model.Calendar.Events" />
</div>